@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --font-primary: 'Noto Sans', sans-serif;
    --font-secondery: 'PT Sans', serif;
    --jingga : #eb8934;
    --putih : #e4e4e4;
    --ungu : #bf0bbc;
    --abu : #171617;
}

body{
    background-color: var(--abu);
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.titleWeb{
    text-align: center;
    font-family: var(--font-secondery);
    font-size: 40px;
    margin: auto;
    margin-top: 18px;
    padding: 10px 0 0 0;
    border-radius: 15px;
    width: 90%;
    background-color: var(--abu);
}

.main-body{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}


.sidebar{
    background-color: var(--jingga);
    width: 300px;
    /* width: ; */
    /* max-width: 40vw; */
    /* flex-grow: 1; */
    flex-shrink: 0;
    height: 100%;
    color: var(--putih);
    border-radius: 0 20px 20px 0;
    position: relative;
    top: 0;
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li a{
    text-decoration: none;
    color: inherit;
    font-family: var(--font-primary);
    /* transform: translateX(60px); */
    transition: color 0.2s ease-in-out;
}

.sidebar ul li{
    margin-bottom: 10px;
    list-style-type: none;
    transform: none;
    transition: transform 0.3s ease-in-out;
    font-size: 16px;
}

.sidebar ul li:hover{
    color: white;
    transform: translateX(10px);
}

.main-box{
    flex-grow: 10;
    /* margin: 10px; */
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.search-container{
    width: 100%;
    max-width: 30vw;
    margin: 10px auto 20px auto;
}

.search-box{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #ffffff1e;
    color: var(--putih);
    padding: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; /* Menghilangkan tombol X di Chrome/Safari/Opera */
    appearance: none;
}

#search_anime {
    margin-top: 10px;
    color: var(--putih); /* Sesuaikan dengan tema */
    font-size: 14px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start ;
    margin-bottom: 50px;
}

.card {
    background-color: rgba(255, 255, 255, 0);
    color: var(--putih);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 240px; /* Lebar kartu */
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.card-container-wrapper {
    height: calc(100vh - 60px); /* Sesuaikan tinggi card-container agar sesuai dengan tinggi main-box */
    overflow-y: auto; /* Tambahkan scroll hanya pada card-container */
    padding-right: 10px; /* Opsional: Untuk memberikan ruang agar scroll bar tidak menutupi konten */
}

.card-container-wrapper::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar di Chrome, Safari, Opera */
}

.card img {
    width: 100%;  /* Pastikan gambar memenuhi lebar kartu */
    height: 320px;  /* Tetapkan tinggi gambar agar konsisten */
    object-fit: cover;  /* Potong gambar jika perlu untuk menjaga rasio */
    /* border-bottom: 2px solid #ddd; */
}

.card h2 {
    font-size: 18px; /* Ukuran font judul */
    margin: 5px 0;
}

.category-container {
    display: none;
    background-color: var(--abu);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}

.category-btn {
    background-color: var(--jingga);
    color: var(--putih);
    width : 30vh;
    height : 10vh;
    font-weight: bold;
    font-size: 24px;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-btn:hover {
    background-color: var(--ungu);
}

/* Modal CSS */
.modal {
    display: none; /* Tersembunyi secara default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang hitam semi-transparan */
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    /* max-width: 90%; */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    position: relative; /* Posisi relatif untuk mengatur posisi anak-anak */
    z-index: 1001; /* Memastikan konten modal ada di depan */
}

.close {
    color: #aaa;
    position: absolute; /* Posisi absolut agar bisa ditempatkan tepat di sudut */
    right: 20px; /* Jarak dari sisi kanan */
    top: 10px; /* Jarak dari sisi atas */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1002; /* Pastikan tombol berada di depan elemen lainnya */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#modal-image {
    width: 55%;
    /* width: 10vw; */
    height: 45vh;
    object-fit: cover;
    border-radius: 8px;
}

#modal-details {
    flex-grow: 1;
}

#modal-details p {
    margin: 10px 0;
}

#episode-container {
    margin-top: 20px;
}

#episode-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0;
    list-style-type: none;
}

#episode-list li {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

#episode-list li:hover {
    background-color: var(--jingga);
}

#pagination-controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#pagination-controls button {
    background-color: var(--jingga);
    color: var(--putih);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
